# Logs
**/*.log
**/*.log.*

# Virtual environment
**/venv/
**/env/
**/ENV/
**/.venv/

# Python cache
**/__pycache__/
**/*.py[cod]
**/*$py.class

# Django stuff
**/*.sqlite3
**/db.sqlite3

# PostgreSQL
**/pgdata/

# Media
**/media/
**/*.media

# Local env files
**/.env
**/.env.*

# Node.js
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Build directories
**/build/
**/dist/
**/build/
**/dist/
**/.DS_Store

# ReactJS
**/public/static/
**/*.lock
**/.eslintcache
**/coverage/

# TailwindCSS
**/tailwind.config.js
**/tailwind.css

# Specific files/folders for your project
**/__migrations__/
**/django_static/
**/**/*.pyc
**/*.egg-info/
**/*.log
**/*.pot
**/*.pydevproject
**/*.sql

# System files
**/Thumbs.db
**/Desktop.ini

# IDEs and Editors
**/.vscode/
**/.idea/
**/*.swp
**/*.swo
**/*~
**/.project
**/.cproject
**/.pydevproject

# MacOS
**/.DS_Store

# Linux
**/*~

# Windows
**/Thumbs.db
**/ehthumbs.db
**/[Dd]esktop.ini
**/$RECYCLE.BIN/
